.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    min-height: 35px;
    background-color: $mainColor;
    color: #FFF;
    width: fit-content;
    border-radius: 6px;
    padding: 5px 20px;
    img{
        object-fit: contain;
        height: 20px;
    }
}