.plants{
    &__wrapper{
        @include fluid(gap, 30px, 50px);
        display: flex;
    }
    &__filter{
        width: 25%;
        display: flex;
        flex-direction: column;
        &-sale{
            object-fit: cover;
            height: 470px;
            width: 100%;
        }
    }
    &__card{
        &Wrapper{
            @include fluid(column-gap, 30px, 40px);
            // @include fluid(row-gap, 40px, 80px);
            row-gap: 0;
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            .card{
                @include fluid(margin-bottom, 30px, 50px);
                width: 30.4%;
            }
        }
    }
    &__sort{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: auto;
        min-width: 187px;
        gap: 8px;
        &Wrapper{
            @include fluid(gap, 30px, 40px);
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
            width: 100%;
            &-item{
                @include fluid(font-size, 14px, 16px);
                border-bottom: 2px solid transparent;
                cursor: pointer;
                &.active{
                    color: $mainColor;
                    border-color: $mainColor;
                }
            }
        }
        &List{
            position: absolute;
            padding: 15px;
            width: 100%;
            background-color: #fbfbfb;
            border: 1px solid transparent;
            top: 21px;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: .38ss ease-in-out;
        }
        &.active{
            .plants__sortList{
                opacity: 1;
                visibility: visible;
                height: fit-content;
                z-index: 1;
                border-color: rgba(70,163,88,.1019607843);
            }
            .typeSorting{
                &::after{
                    rotate: -135deg;
                }
            }
        }
        p{
            position: relative;
            z-index: 2;
        }
        .typeSorting{
            &::after{
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                border-bottom: 2px solid #3D3D3D;
                border-right: 2px solid #3D3D3D;
                margin-left: 15px;
                rotate: 45deg;
                transition: .38s ease-in-out;
            }
        }
    }
    &__pagination{
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        &-item{
            @include fluid(font-size, 16px, 18px);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #E5E5E5;
            border-radius: 4px;
            width: 35px;
            height: 35px;
            background-color: transparent;
            transition: .38s ease-in-out;
            .icon{
                color: #3D3D3D;
            }
            img{
                transition: .38s ease-in-out;
            }
            &.active, &:hover{
                background-color: $mainColor;
                color: #FFF;
                font-weight: 700;
                border-color: $mainColor;
                img{
                    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(55%) hue-rotate(71deg) brightness(114%) contrast(100%);
                }
            }
        }

    }
}

.card{
    &__img{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fbfbfb;
        min-height: 280px;
        margin-bottom: 15px;
        overflow: hidden;
        &-plant{
            object-fit: contain;
            height: 250px;
        }
        span{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 10px;
            background-color: $mainColor;
            left: 0;
            top: 14px;
            color: #FFF;
        }
    }
    &__tools{
        position: absolute;
        bottom: 5px;
        left: 50%;
        translate: -50% 0;
        display: flex;
        align-items: center;
        gap: 10px;
        transform: translateY(150%);
        transition: .38s ease-in-out;
        &-item{
            padding: 8px;
            width: 35px;
            height: 35px;
            border-radius: 4px;
            background-color: #FFF;
            cursor: pointer;
            &:hover{
                color: $mainColor;
            }
        }
    }
    &__title{
        margin-bottom: 2px;
    }
    &__price{
        @include fluid(font-size, 16px, 18px);
        color: $mainColor;
        font-weight: 700;
    }
    &:hover{
        .card{
            &__tools{
                transform: translateY(0%);
            }
        }
    }
}

@media (max-width: 992px) {
    .plants{
        &__cardWrapper{
            width: 100%;
            .card{
                width: 46.8%;
            }
        }
        &__filter{
            width: 0;
        }
    }
    .card{
        &__tools{
            transform: translateY(0%);
        }
    }
}

@media (max-width: 530px) {
    .plants{
        &__cardWrapper{
            .card{
                width: 100%;
            }
        }
        &__sortWrapper{
            flex-wrap: wrap;
            .plants__sort{
                width: 100%;
            }
        }
    }
}